#root {
  background-color: gray;
  width: 420px;
  height: 600px;
  border-radius: 20px;
  margin: 70px;
  padding: 20px;
}
/*Display*/
.display {
  background-color: #fff;
  width: 100%;
  height: 130px;
}
.output-secondary {
  text-align: right;
  font-size: 18px;
  padding: 20px 7px 20px 20px;
}
.output-main {
  font-size: 45px;
  text-align: right;
  padding: 20px 7px 0px 20px;
}
/*Buttons*/
.buttons-box {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  column-gap: 10px;
  row-gap: 10px;
}
.btn {
  font-size: 30px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}
.btn-primary {
  padding: 23px 47px;
  grid-column: 1/3;
  grid-row: 1;
  background-color: #41c69e;
}
.btn-primary:hover {
  background-color: #41c69eda;
}
.btn-secondary {
  padding: 24px 47px;
  grid-column: 3/5;
  grid-row: 1;
  background-color: #f03e3e;
}
.btn-secondary:hover {
  background-color: #f03e3ee0;
}
.btn-standard {
  font-size: 32px;
}
.btn-standard:hover {
  background-color: #ffffff96;
}
